ejercicio 1

In [16]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]

bajas_temp = []
medias_temp = []
altas_temp = []

for numeros in temperaturas:
    if 0 <= numeros <= 10 :
        bajas_temp.append(numeros)
    elif 11 <= numeros <= 20:
        medias_temp.append(numeros)

    else: 
        altas_temp.append(numeros)
print("Las temperaturas medias son", medias_temp)
print("Las temperaturas bajas son:", bajas_temp)
print("Las temperaturas altas son:", altas_temp)

Las temperaturas medias son [12]
Las temperaturas bajas son: [2, 1]
Las temperaturas altas son: [45, 67, 23, 45, 66, 34, 67, 99, 98, 67, 64, 44, 100]

ejercicio 2
de grados centígrados a

In [30]:
bajas_temp_F = [float(((c * 9)/5)+32) for c in bajas_temp]

print("Las temperaturas bajas son:", bajas_temp_F)

medias_temp_F = [float(((c * 9)/5)+32) for c in medias_temp]
print("Las temperaturas medias son", medias_temp_F)

altas_temp_f = [float(((c * 9)/5)+32) for c in altas_temp]
print("Las temperaturas altas son:", altas_temp_f)

Las temperaturas bajas son: [35.6, 33.8]
Las temperaturas medias son [53.6]
Las temperaturas altas son: [113.0, 152.6, 73.4, 113.0, 150.8, 93.2, 152.6, 210.2, 208.4, 152.6, 147.2, 111.2, 212.0]

3. Define e imprime un rango de 0 a 6 (excluido).

In [33]:
numeros = range (0,6)
print(numeros)
for x in range(6):
    print(x)

range(0, 6)
0
1
2
3
4
5

4. Define e imprime un rango de 3 a 6 ambos incluidos.

In [37]:

for x in range(3,7):
    print(x)

3
4
5
6

5. Define e imprime un rango de 5 a 9 ambos excluidos.

In [39]:
for x in range(6,9):
    print(x)

6
7
8

6. Define e imprime un rango de 3 números que empiece en 2.

In [40]:
for x in range(20,29,3):
    print(x)

20
23
26

7. Define e imprime un rango que empiece en 2, aumentando cada paso por 3, que pare antes de llegar al número 13

In [42]:
for x in range (2,14, 3):
    print(x)

2
5
8
11

8. Define e imprime un rango con todos los valores impares que hay hasta 10.

In [43]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

9.Crea una lista nueva donde tengamos los números de la lista temperaturas elevados al cuadrado.

In [54]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
temp_cuadrado = []
for numeros in temperaturas:
    temp_cuadrado.append(numeros**2)
print("Nueva lista temp_cuadrado", temp_cuadrado)

Nueva lista temp_cuadrado [4, 2025, 4489, 529, 2025, 4356, 144, 1, 1156, 4489, 9801, 9604, 4489, 4096, 1936, 10000]