ejercicio 1

In [16]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]

bajas_temp = []
medias_temp = []
altas_temp = []

for numeros in temperaturas:
    if 0 <= numeros <= 10 :
        bajas_temp.append(numeros)
    elif 11 <= numeros <= 20:
        medias_temp.append(numeros)

    else: 
        altas_temp.append(numeros)
print("Las temperaturas medias son", medias_temp)
print("Las temperaturas bajas son:", bajas_temp)
print("Las temperaturas altas son:", altas_temp)

Las temperaturas medias son [12]
Las temperaturas bajas son: [2, 1]
Las temperaturas altas son: [45, 67, 23, 45, 66, 34, 67, 99, 98, 67, 64, 44, 100]

ejercicio 2
de grados centígrados a

In [30]:
bajas_temp_F = [float(((c * 9)/5)+32) for c in bajas_temp]

print("Las temperaturas bajas son:", bajas_temp_F)

medias_temp_F = [float(((c * 9)/5)+32) for c in medias_temp]
print("Las temperaturas medias son", medias_temp_F)

altas_temp_f = [float(((c * 9)/5)+32) for c in altas_temp]
print("Las temperaturas altas son:", altas_temp_f)

Las temperaturas bajas son: [35.6, 33.8]
Las temperaturas medias son [53.6]
Las temperaturas altas son: [113.0, 152.6, 73.4, 113.0, 150.8, 93.2, 152.6, 210.2, 208.4, 152.6, 147.2, 111.2, 212.0]

3. Define e imprime un rango de 0 a 6 (excluido).

In [33]:
numeros = range (0,6)
print(numeros)
for x in range(6):
    print(x)

range(0, 6)
0
1
2
3
4
5

4. Define e imprime un rango de 3 a 6 ambos incluidos.

In [37]:

for x in range(3,7):
    print(x)

3
4
5
6

5. Define e imprime un rango de 5 a 9 ambos excluidos.

In [39]:
for x in range(6,9):
    print(x)

6
7
8

6. Define e imprime un rango de 3 números que empiece en 2.

In [40]:
for x in range(20,29,3):
    print(x)

20
23
26

7. Define e imprime un rango que empiece en 2, aumentando cada paso por 3, que pare antes de llegar al número 13

In [42]:
for x in range (2,14, 3):
    print(x)

2
5
8
11

8. Define e imprime un rango con todos los valores impares que hay hasta 10.

In [43]:
for x in range(1,10,2):
    print(x)

1
3
5
7
9

9.Crea una lista nueva donde tengamos los números de la lista temperaturas elevados al cuadrado.

In [54]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
temp_cuadrado = []
for numeros in temperaturas:
    temp_cuadrado.append(numeros**2)
print("Nueva lista temp_cuadrado", temp_cuadrado)

Nueva lista temp_cuadrado [4, 2025, 4489, 529, 2025, 4356, 144, 1, 1156, 4489, 9801, 9604, 4489, 4096, 1936, 10000]

10.Crea una lista nueva donde tengamos el resto de la división de cada uno de los números entre 2.

In [5]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
residuos = []
for numbers in temperaturas:
    residuos.append(numbers % 2)
print(residuos)

[0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0]

11. Crea una lista nueva donde tengamos solo los elementos pares de la lista temperaturas.

In [11]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
pares = []
for numbers in temperaturas:
    if numbers % 2 ==0:
        pares.append(numbers)
print(pares)

[2, 66, 12, 34, 98, 64, 44, 100]

12. Crea una lista nueva donde tengamos solo los elementos que sean menores que 50.

In [15]:
temperaturas = [2,45,67,23, 45,66,12,1,34,67,99,98,67,64, 44, 100]
menores = []
for numbers in temperaturas:
    if numbers <50:
        menores.append(numbers)
print(menores)

[2, 45, 23, 45, 12, 1, 34, 44]

13. Crea una lista donde tengamos los valores "par" e "impar" en función de los valores de la lista original. La lista resultante tiene que ser como la que indicamos a continuación:

In [23]:
import random
lista_strings = ["par","impar","impar","impar", "impar","par","par","impar","par","impar","impar","par","impar","par", "par", "par"]
lista_numbers = []
for word in lista_strings:
    if word == 'par':
        num = random.choice(range(0, 101, 2))
    else:
        num = random.choice(range(1, 101, 2))
    lista_numbers.append(num)
print(lista_numbers)

[8, 27, 37, 9, 93, 58, 92, 49, 88, 55, 39, 16, 97, 66, 0, 84]

14. Pide al usuario un número entero positivo y suma los números pares e impares por separado hasta ese número.

In [30]:
numero = int(input('Inserta un número entero positivo'))
print(numero)
pares = 0
impares = 0

for x in range (1, numero + 1):
    if x % 2 == 0:
        pares += x
    else:
        impares += x

print("Suma pares", pares)
print("Suma impares", impares)

22
Suma pares 132
Suma impares 121

15. Pide al usuario ingresar una cadena y cuenta cuántas veces aparece cada vocal (a, e, i, o, u) en la cadena.

In [35]:
cadena = input('Inserta una frase')
print(cadena)
vocales = ['a', 'e', 'i', 'o', 'u']
for vocal in vocales:
    suma = cadena.count(vocal)
    print(suma)

au
1
0
0
0
1

1. Crea una variable que sea igual a "Python" y genera un código que nos printee todas las letras menos la "P" usando la sentencia continue.

In [39]:
text = 'Python'

for letters in text:
    if letters == 'P':
        continue
    else:
    
        print(letters)

y
t
h
o
n

2. De la frase 'Hello' imprime todas las letras que no sean una 'l' usando if.

In [41]:
frase = 'Hello'
for letters in frase:
    if letters != 'l':
        print(letters)
    else:
        pass
        print("error")

H
e
error
error
o

3. Haz lo mismo que en 2 usando continue.

In [42]:
frase = 'Hello'
for letters in frase:
    if letters != 'l':
        print(letters)
    else:
        continue
        print("error")

H
e
o

4. De la frase 'Hello' imprime todas las letras parando el bucle si encuentras una 'o'.

In [43]:
frase = 'Hello'
for letters in frase:
    if letters != 'o':
        print(letters)
    else:
        break
        print("error")

H
e
l
l

5. Define la variable doce = '12' y seis = 6. Intenta sumarlos. En el caso de que te salga un error imprime '¡Un error!'. Para eso usa un try ... except

In [50]:
doce = '12'
seis = 6
try:
    suma = int(doce + seis)
    print("un error")
    
except:
    suma = int(doce) + seis
    print(suma)

18

6. Basándonos en el ejercicio anterior, sin usar un try ... except, ¿cómo podríamos solucionar el problema?

In [5]:
doce = '12'
seis = 6

suma = int(doce) + seis
print(suma)

18

7. Solicita al usuario ingresar números enteros positivos hasta que ingrese un número negativo. Luego, muestra la suma de todos los números pares ingresados.

In [15]:

pares = 0

while True:
    numbers = int(input('Ingreses números positivos')) 
    if numbers% 2 == 0:
        pares += numbers
    
    elif numbers < 0:

        break
print("Suma de pares", pares)

Suma de pares 6

8. Solicita al usuario ingresar dos números y muestra el resultado de dividir el primero por el segundo. Asegúrate de manejar la excepción si el segundo número es cero

In [ ]:
num1 = float(input('Inserta un número'))
print(num1)
num2 = float(input('Inserta otro número'))
print(num2)
try:
    resultado = num1 / num2
    print(resultado)
except:
    num2 == 0
    print("error")

2.0
0.0
error
0.625

9. Solicita al usuario ingresar un número y muestra su raíz cuadrada. Maneja la excepción si el número es negativo

In [31]:
num1 = float(input('Inserta un número'))

try:
    raiz = num1**2
    print(raiz)
except:
    num1 < 0
    print("inserta el mismo número en positivo")

25.0

10. Crea una lista de números y solicita al usuario ingresar un índice para acceder a un elemento de la lista. Maneja la excepción si el índice está fuera de rango.

In [37]:
lista_numeros = [11, 8, 22, 444, 2828, 777]

try:
    indice = int(input('inserta un índice aquí'))
    print(lista_numeros[indice])
except IndexError:
    print("índice fuera de la lista")

11