In [1]:
import pandas as pd
import requests 
import re

## 1. Extraer información de las alumnas:

- Usa este endpoint: "https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json" para hacer la llamada a la API.

**Nota:** no requiere api_key ni registro, se puede llamar directamente.

- Extrae de los resultados:
    - Número de expediente
    - Nombre
    - Apellido

- Convierte los datos extraidos en un Dataframe de pandas

In [2]:
def llamar_api(url):
    llamada = requests.get(url)
    print(f"La llamada a la API nos ha dado una respuesta de tipo: {llamada.status_code}")

    if llamada.status_code != 200:
        print(f"El motivo por el que la llamada falló es {llamada.reason}")

    else:
        return llamada.json()

In [3]:
url = f"https://beta.adalab.es/curso-intensivo-fullstack-recursos/apis/alumnos-v1/alumnos.json"
resultados = llamar_api(url)

La llamada a la API nos ha dado una respuesta de tipo: 200

In [4]:
resultados.keys()

dict_keys(['info', 'results'])

In [31]:
resultados

{'info': {'count': 20,
  'pages': 1,
  'currentPage': 1,
  'next': None,
  'prev': None},
 'results': [{'num_expediente': 1001,
   'nombre': 'Ana',
   'apellidos': 'Martínez',
   'fecha_nacimiento': '2005-03-15'},
  {'num_expediente': 1002,
   'nombre': 'Luis',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2004-11-22'},
  {'num_expediente': 1003,
   'nombre': 'Clara',
   'apellidos': 'Ruiz',
   'fecha_nacimiento': '2006-01-10'},
  {'num_expediente': 1004,
   'nombre': 'Pedro',
   'apellidos': 'Sánchez',
   'fecha_nacimiento': '2005-07-08'},
  {'num_expediente': 1005,
   'nombre': 'Lucía',
   'apellidos': 'Torres',
   'fecha_nacimiento': '2004-09-18'},
  {'num_expediente': 1006,
   'nombre': 'Javier',
   'apellidos': 'González',
   'fecha_nacimiento': '2006-06-24'},
  {'num_expediente': 1007,
   'nombre': 'María',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-04-10'},
  {'num_expediente': 1008,
   'nombre': 'David',
   'apellidos': 'Pérez',
   'fecha_nacimiento': '2004-12-12'},
  {'num_expediente': 1009,
   'nombre': 'Sara',
   'apellidos': 'García',
   'fecha_nacimiento': '2005-08-15'},
  {'num_expediente': 1010,
   'nombre': 'Ricardo',
   'apellidos': 'Martín',
   'fecha_nacimiento': '2006-03-22'},
  {'num_expediente': 1011,
   'nombre': 'Alba',
   'apellidos': 'Vázquez',
   'fecha_nacimiento': '2004-05-05'},
  {'num_expediente': 1012,
   'nombre': 'Carlos',
   'apellidos': 'Serrano',
   'fecha_nacimiento': '2005-02-28'},
  {'num_expediente': 1013,
   'nombre': 'Elena',
   'apellidos': 'Ramírez',
   'fecha_nacimiento': '2006-08-01'},
  {'num_expediente': 1014,
   'nombre': 'Iván',
   'apellidos': 'Hernández',
   'fecha_nacimiento': '2005-10-30'},
  {'num_expediente': 1015,
   'nombre': 'Laura',
   'apellidos': 'Jiménez',
   'fecha_nacimiento': '2004-07-14'},
  {'num_expediente': 1016,
   'nombre': 'Tomás',
   'apellidos': 'López',
   'fecha_nacimiento': '2005-12-18'},
  {'num_expediente': 1017,
   'nombre': 'Paula',
   'apellidos': 'Fernández',
   'fecha_nacimiento': '2006-02-06'},
  {'num_expediente': 1018,
   'nombre': 'Mario',
   'apellidos': 'Díaz',
   'fecha_nacimiento': '2004-11-30'},
  {'num_expediente': 1019,
   'nombre': 'Raquel',
   'apellidos': 'González',
   'fecha_nacimiento': '2005-09-23'},
  {'num_expediente': 1020,
   'nombre': 'Jorge',
   'apellidos': 'Álvarez',
   'fecha_nacimiento': '2006-05-17'}]}

In [6]:
resultados['results']

[{'num_expediente': 1001,
  'nombre': 'Ana',
  'apellidos': 'Martínez',
  'fecha_nacimiento': '2005-03-15'},
 {'num_expediente': 1002,
  'nombre': 'Luis',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2004-11-22'},
 {'num_expediente': 1003,
  'nombre': 'Clara',
  'apellidos': 'Ruiz',
  'fecha_nacimiento': '2006-01-10'},
 {'num_expediente': 1004,
  'nombre': 'Pedro',
  'apellidos': 'Sánchez',
  'fecha_nacimiento': '2005-07-08'},
 {'num_expediente': 1005,
  'nombre': 'Lucía',
  'apellidos': 'Torres',
  'fecha_nacimiento': '2004-09-18'},
 {'num_expediente': 1006,
  'nombre': 'Javier',
  'apellidos': 'González',
  'fecha_nacimiento': '2006-06-24'},
 {'num_expediente': 1007,
  'nombre': 'María',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-04-10'},
 {'num_expediente': 1008,
  'nombre': 'David',
  'apellidos': 'Pérez',
  'fecha_nacimiento': '2004-12-12'},
 {'num_expediente': 1009,
  'nombre': 'Sara',
  'apellidos': 'García',
  'fecha_nacimiento': '2005-08-15'},
 {'num_expediente': 1010,
  'nombre': 'Ricardo',
  'apellidos': 'Martín',
  'fecha_nacimiento': '2006-03-22'},
 {'num_expediente': 1011,
  'nombre': 'Alba',
  'apellidos': 'Vázquez',
  'fecha_nacimiento': '2004-05-05'},
 {'num_expediente': 1012,
  'nombre': 'Carlos',
  'apellidos': 'Serrano',
  'fecha_nacimiento': '2005-02-28'},
 {'num_expediente': 1013,
  'nombre': 'Elena',
  'apellidos': 'Ramírez',
  'fecha_nacimiento': '2006-08-01'},
 {'num_expediente': 1014,
  'nombre': 'Iván',
  'apellidos': 'Hernández',
  'fecha_nacimiento': '2005-10-30'},
 {'num_expediente': 1015,
  'nombre': 'Laura',
  'apellidos': 'Jiménez',
  'fecha_nacimiento': '2004-07-14'},
 {'num_expediente': 1016,
  'nombre': 'Tomás',
  'apellidos': 'López',
  'fecha_nacimiento': '2005-12-18'},
 {'num_expediente': 1017,
  'nombre': 'Paula',
  'apellidos': 'Fernández',
  'fecha_nacimiento': '2006-02-06'},
 {'num_expediente': 1018,
  'nombre': 'Mario',
  'apellidos': 'Díaz',
  'fecha_nacimiento': '2004-11-30'},
 {'num_expediente': 1019,
  'nombre': 'Raquel',
  'apellidos': 'González',
  'fecha_nacimiento': '2005-09-23'},
 {'num_expediente': 1020,
  'nombre': 'Jorge',
  'apellidos': 'Álvarez',
  'fecha_nacimiento': '2006-05-17'}]

In [7]:
resultados['results'][0]['num_expediente']

1001

In [8]:
resultados['results'][0]['nombre']

'Ana'

In [9]:
resultados['results'][0]['apellidos']

'Martínez'

In [ ]:
def limpiar_datos(resultados):
    resultados_alumnas = []   #crear diccionario con keys (otra opción), cada value es una lista vacía
    for resultado in resultados:
        info = {
            'num_expediente' : resultado['num_expediente'],
            'nombre' : resultado['nombre'],
            'apellido' : resultado['apellidos'] #se puede apendear una lista de apellido
                }
        resultados_alumnas.append(info)
    return resultados_alumnas

In [11]:
resultados_def = limpiar_datos(resultados['results'])

In [12]:
resultados_def

[{'num_expediente': 1001, 'nombre': 'Ana', 'apellido': 'Martínez'},
 {'num_expediente': 1002, 'nombre': 'Luis', 'apellido': 'Fernández'},
 {'num_expediente': 1003, 'nombre': 'Clara', 'apellido': 'Ruiz'},
 {'num_expediente': 1004, 'nombre': 'Pedro', 'apellido': 'Sánchez'},
 {'num_expediente': 1005, 'nombre': 'Lucía', 'apellido': 'Torres'},
 {'num_expediente': 1006, 'nombre': 'Javier', 'apellido': 'González'},
 {'num_expediente': 1007, 'nombre': 'María', 'apellido': 'López'},
 {'num_expediente': 1008, 'nombre': 'David', 'apellido': 'Pérez'},
 {'num_expediente': 1009, 'nombre': 'Sara', 'apellido': 'García'},
 {'num_expediente': 1010, 'nombre': 'Ricardo', 'apellido': 'Martín'},
 {'num_expediente': 1011, 'nombre': 'Alba', 'apellido': 'Vázquez'},
 {'num_expediente': 1012, 'nombre': 'Carlos', 'apellido': 'Serrano'},
 {'num_expediente': 1013, 'nombre': 'Elena', 'apellido': 'Ramírez'},
 {'num_expediente': 1014, 'nombre': 'Iván', 'apellido': 'Hernández'},
 {'num_expediente': 1015, 'nombre': 'Laura', 'apellido': 'Jiménez'},
 {'num_expediente': 1016, 'nombre': 'Tomás', 'apellido': 'López'},
 {'num_expediente': 1017, 'nombre': 'Paula', 'apellido': 'Fernández'},
 {'num_expediente': 1018, 'nombre': 'Mario', 'apellido': 'Díaz'},
 {'num_expediente': 1019, 'nombre': 'Raquel', 'apellido': 'González'},
 {'num_expediente': 1020, 'nombre': 'Jorge', 'apellido': 'Álvarez'}]

In [13]:
df_resultados = pd.DataFrame(resultados_def)

In [14]:
df_resultados

    num_expediente   nombre   apellido
0             1001      Ana   Martínez
1             1002     Luis  Fernández
2             1003    Clara       Ruiz
3             1004    Pedro    Sánchez
4             1005    Lucía     Torres
5             1006   Javier   González
6             1007    María      López
7             1008    David      Pérez
8             1009     Sara     García
9             1010  Ricardo     Martín
10            1011     Alba    Vázquez
11            1012   Carlos    Serrano
12            1013    Elena    Ramírez
13            1014     Iván  Hernández
14            1015    Laura    Jiménez
15            1016    Tomás      López
16            1017    Paula  Fernández
17            1018    Mario       Díaz
18            1019   Raquel   González
19            1020    Jorge    Álvarez

## 2. Objetos cercanos a la tierra:

- Usa esta API: https://api.nasa.gov/
    - Requiere api_key

- Utiliza este endpoint: Asteroids - NeoWs -> mira bien la documentación!!

- Extrae los ids de los objetos cercanos a la Tierra de uno de los días (el que tú quieras) y crea una lista con ellos.

- Busca si en ese mismo endpoint hay alguna manera de obtener la información de cada objeto por su id. Haz la llamada para cada id de la lista y almacena en un diccionario el id, nombre y si es peligroso de cada objeto.

In [15]:
nasa_api = "3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB"

In [16]:
url2 = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=1994-04-22&end_date=1994-04-29&api_key={nasa_api}"

In [17]:
def llamar_api(url):
    llamada = requests.get(url)
    if llamada.status_code != 200:
        print(f"El motivo por el que la llamada falló es {llamada.reason}") 
    else:
        return llamada.json()

In [18]:
datos_nasa = llamar_api(url2)

In [19]:
datos_nasa.keys()

dict_keys(['links', 'element_count', 'near_earth_objects'])

In [20]:
datos_nasa['links']

{'next': 'http://api.nasa.gov/neo/rest/v1/feed?start_date=1994-04-29&end_date=1994-05-06&detailed=false&api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB',
 'previous': 'http://api.nasa.gov/neo/rest/v1/feed?start_date=1994-04-15&end_date=1994-04-22&detailed=false&api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB',
 'self': 'http://api.nasa.gov/neo/rest/v1/feed?start_date=1994-04-22&end_date=1994-04-29&detailed=false&api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'}

In [21]:
datos_nasa['near_earth_objects'].keys()

dict_keys(['1994-04-22', '1994-04-24', '1994-04-23', '1994-04-26', '1994-04-25', '1994-04-28', '1994-04-27', '1994-04-29'])

In [22]:
datos_nasa['near_earth_objects']['1994-04-24']

[{'links': {'self': 'http://api.nasa.gov/neo/rest/v1/neo/2194126?api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'},
  'id': '2194126',
  'neo_reference_id': '2194126',
  'name': '194126 (2001 SG276)',
  'nasa_jpl_url': 'https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2194126',
  'absolute_magnitude_h': 17.91,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 0.6959130436,
    'estimated_diameter_max': 1.5561088719},
   'meters': {'estimated_diameter_min': 695.9130435846,
    'estimated_diameter_max': 1556.108871884},
   'miles': {'estimated_diameter_min': 0.4324201838,
    'estimated_diameter_max': 0.9669209258},
   'feet': {'estimated_diameter_min': 2283.1793499141,
    'estimated_diameter_max': 5105.3442312318}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1994-04-24',
    'close_approach_date_full': '1994-Apr-24 21:46',
    'epoch_date_close_approach': 767223960000,
    'relative_velocity': {'kilometers_per_second': '15.0311761485',
     'kilometers_per_hour': '54112.2341346828',
     'miles_per_hour': '33623.2379266311'},
    'miss_distance': {'astronomical': '0.1160350785',
     'lunar': '45.1376455365',
     'kilometers': '17358600.588882795',
     'miles': '10786134.246240771'},
    'orbiting_body': 'Earth'}],
  'is_sentry_object': False},
 {'links': {'self': 'http://api.nasa.gov/neo/rest/v1/neo/2455588?api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'},
  'id': '2455588',
  'neo_reference_id': '2455588',
  'name': '455588 (2004 RU331)',
  'nasa_jpl_url': 'https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2455588',
  'absolute_magnitude_h': 20.65,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 0.1970402621,
    'estimated_diameter_max': 0.4405954204},
   'meters': {'estimated_diameter_min': 197.0402621378,
    'estimated_diameter_max': 440.5954204445},
   'miles': {'estimated_diameter_min': 0.1224351047,
    'estimated_diameter_max': 0.273773217},
   'feet': {'estimated_diameter_min': 646.4575736321,
    'estimated_diameter_max': 1445.523079211}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1994-04-24',
    'close_approach_date_full': '1994-Apr-24 14:10',
    'epoch_date_close_approach': 767196600000,
    'relative_velocity': {'kilometers_per_second': '9.4716893316',
     'kilometers_per_hour': '34098.0815939328',
     'miles_per_hour': '21187.2218659634'},
    'miss_distance': {'astronomical': '0.4065589271',
     'lunar': '158.1514226419',
     'kilometers': '60820349.523645277',
     'miles': '37792012.7550757426'},
    'orbiting_body': 'Earth'}],
  'is_sentry_object': False},
 {'links': {'self': 'http://api.nasa.gov/neo/rest/v1/neo/2459200?api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'},
  'id': '2459200',
  'neo_reference_id': '2459200',
  'name': '459200 (2012 DK61)',
  'nasa_jpl_url': 'https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=2459200',
  'absolute_magnitude_h': 21.08,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 0.1616422833,
    'estimated_diameter_max': 0.3614431336},
   'meters': {'estimated_diameter_min': 161.6422833399,
    'estimated_diameter_max': 361.4431335863},
   'miles': {'estimated_diameter_min': 0.1004398272,
    'estimated_diameter_max': 0.2245902814},
   'feet': {'estimated_diameter_min': 530.3224688728,
    'estimated_diameter_max': 1185.8370903951}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1994-04-24',
    'close_approach_date_full': '1994-Apr-24 09:39',
    'epoch_date_close_approach': 767180340000,
    'relative_velocity': {'kilometers_per_second': '2.5172151677',
     'kilometers_per_hour': '9061.9746035924',
     'miles_per_hour': '5630.7586085489'},
    'miss_distance': {'astronomical': '0.1967282148',
     'lunar': '76.5272755572',
     'kilometers': '29430121.902982476',
     'miles': '18287029.7696751288'},
    'orbiting_body': 'Earth'}],
  'is_sentry_object': False},
 {'links': {'self': 'http://api.nasa.gov/neo/rest/v1/neo/3423321?api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'},
  'id': '3423321',
  'neo_reference_id': '3423321',
  'name': '(2008 PW4)',
  'nasa_jpl_url': 'https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=3423321',
  'absolute_magnitude_h': 22.42,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 0.0872077289,
    'estimated_diameter_max': 0.19500241},
   'meters': {'estimated_diameter_min': 87.2077289095,
    'estimated_diameter_max': 195.0024100049},
   'miles': {'estimated_diameter_min': 0.0541883537,
    'estimated_diameter_max': 0.1211688425},
   'feet': {'estimated_diameter_min': 286.1146053153,
    'estimated_diameter_max': 639.7717068406}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1994-04-24',
    'close_approach_date_full': '1994-Apr-24 17:03',
    'epoch_date_close_approach': 767206980000,
    'relative_velocity': {'kilometers_per_second': '8.4290745821',
     'kilometers_per_hour': '30344.6684954659',
     'miles_per_hour': '18854.996932641'},
    'miss_distance': {'astronomical': '0.4600224098',
     'lunar': '178.9487174122',
     'kilometers': '68818372.658347126',
     'miles': '42761753.8810212988'},
    'orbiting_body': 'Earth'}],
  'is_sentry_object': False},
 {'links': {'self': 'http://api.nasa.gov/neo/rest/v1/neo/3673918?api_key=3zXvKzzI3whrSbWZ4sU6Lj1XY2ZHadofXq8Dy9kB'},
  'id': '3673918',
  'neo_reference_id': '3673918',
  'name': '(2014 MA6)',
  'nasa_jpl_url': 'https://ssd.jpl.nasa.gov/tools/sbdb_lookup.html#/?sstr=3673918',
  'absolute_magnitude_h': 24.39,
  'estimated_diameter': {'kilometers': {'estimated_diameter_min': 0.035200998,
    'estimated_diameter_max': 0.0787118244},
   'meters': {'estimated_diameter_min': 35.2009980055,
    'estimated_diameter_max': 78.7118244161},
   'miles': {'estimated_diameter_min': 0.0218728793,
    'estimated_diameter_max': 0.048909245},
   'feet': {'estimated_diameter_min': 115.4888422963,
    'estimated_diameter_max': 258.2409020172}},
  'is_potentially_hazardous_asteroid': False,
  'close_approach_data': [{'close_approach_date': '1994-04-24',
    'close_approach_date_full': '1994-Apr-24 14:04',
    'epoch_date_close_approach': 767196240000,
    'relative_velocity': {'kilometers_per_second': '5.760459595',
     'kilometers_per_hour': '20737.6545420533',
     'miles_per_hour': '12885.5720680886'},
    'miss_distance': {'astronomical': '0.3833678453',
     'lunar': '149.1300918217',
     'kilometers': '57351013.083369511',
     'miles': '35636267.0543448118'},
    'orbiting_body': 'Earth'}],
  'is_sentry_object': False}]

In [23]:
datos_nasa['near_earth_objects']['1994-04-24'][1]['id']

'2455588'

In [24]:
datos_nasa['near_earth_objects']['1994-04-24'][1]['name']

'455588 (2004 RU331)'

In [25]:
datos_nasa['near_earth_objects']['1994-04-24'][1]['is_potentially_hazardous_asteroid']

False

In [26]:
def asteroides(datos_nasa):
    resultados_asteroides = []
    for item in datos_nasa['near_earth_objects']['1994-04-24']:
        info = {
            'id_asteroide' : item['id'],
            'name_asteroide' : item['name'],
            'potencially_hazardous' : item['is_potentially_hazardous_asteroid']
        }
        resultados_asteroides.append(info)

    return resultados_asteroides

In [27]:
res = asteroides(datos_nasa)

In [28]:
res

[{'id_asteroide': '2194126',
  'name_asteroide': '194126 (2001 SG276)',
  'potencially_hazardous': False},
 {'id_asteroide': '2455588',
  'name_asteroide': '455588 (2004 RU331)',
  'potencially_hazardous': False},
 {'id_asteroide': '2459200',
  'name_asteroide': '459200 (2012 DK61)',
  'potencially_hazardous': False},
 {'id_asteroide': '3423321',
  'name_asteroide': '(2008 PW4)',
  'potencially_hazardous': False},
 {'id_asteroide': '3673918',
  'name_asteroide': '(2014 MA6)',
  'potencially_hazardous': False}]

In [29]:
df = pd.DataFrame(res)

In [30]:
df

  id_asteroide       name_asteroide  potencially_hazardous
0      2194126  194126 (2001 SG276)                  False
1      2455588  455588 (2004 RU331)                  False
2      2459200   459200 (2012 DK61)                  False
3      3423321           (2008 PW4)                  False
4      3673918           (2014 MA6)                  False