In [9]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

In [10]:
#nos conectamos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='videoclub')

#creamos un cursor
mycursor = cnx.cursor()

#seleccionar base de datos videoclub


mycursor.execute("SELECT DATABASE();")

In [12]:
mycursor.fetchall()
query = "SHOW TABLES"
mycursor.execute(query)

for x in mycursor:
    print(x)

('alquileres',)
('clientes',)
('generos',)
('peliculas',)

In [32]:
mycursor.execute("SELECT * FROM clientes")
resultados = mycursor.fetchall()
print(resultados)

[(1, 'Carlos', 'García', 'Av. Principal 123', '555-1234', 'carlos_garcia@example.com', '2023-01-15'), (3, 'Miguel', 'Lopez', 'Av. Tercera 789', '555-9876', 'miguel@example.com', '2023-03-10')]

In [33]:
df = pd.DataFrame(resultados)

In [34]:
df

,0,1,2,3,4,5,6
0,1,Carlos,García,Av. Principal 123,555-1234,carlos_garcia@example.com,2023-01-15
1,3,Miguel,Lopez,Av. Tercera 789,555-9876,miguel@example.com,2023-03-10

In [35]:
#Cerramos la conexion
cnx.close()